spring:
  data.rest:
    basePath: /api

  datasource:
    url: jdbc:postgresql://localhost:5432/cnms_dev
    username: dev
    password: dev
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate.ddl-auto: create-drop